.navbar {
    height: 70px;
    width: 100%;
    background-color: #323232;
    position: fixed;
    top: 0;
    box-shadow: 1px 3px 10px rgb(255 255 255 / 10%);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h2 {
    font-family: Chicle;
}

.logo, .home {
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 481px) {
    .logo, .home {
        color: white;
        font-size: 18px;
    }
}